/* /common\ */
body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
main {
    position: relative;
    padding: 15px;
    padding-bottom: 100px;
    padding-top: 70px;
    max-width: 600px;
    margin: auto;
}
.page-title {
    text-align: center;
    color: #2c3e50;
    font-size: 1.8em;
    margin: 16px 0;
}
a {
    text-decoration:none;
}
input, select {
    color: black;
    background-color: white;
}
h1,h2,h3 {
    text-align: center;
}
/* \common/ */

/* /\ */
/* \/ */

/* /\ */
/* \/ */

/* /\ */
/* \/ */